*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(229, 239, 241);
}
.ul{
    list-style-type: disc;
}
.text-center{
    text-align: center;
}

.texta{
    color: rgb(128,150,148);
    font-weight:bold;
    font-size: 15px;
    font-family:'Comic Sans MS';
}

.navbar-brand{
    text:bold;
}

.form{
    padding-left: 20px;
    margin-top: 40%;
}
.heading1{
    text-align: center;
    color: rgb(7, 8, 197);
    font-family: 'Comic Sans MS';
    font-weight:bold;
}
.c1{
    background-color:white;
    border-style: solid;
    border-color: lightblue;
   border-radius: 5px;
   margin-right: 10px;
   border-width: 2px;
   border-style:outset;
}  
.c4{
    border-style:solid;
    border-color: white;
    background-color:white;
    border-width: 40%;
    box-shadow: outset;
    border-width:- 100px;
    border-right-width: 20px;
    width: fit-content;
    font-size: 15px;
}
.text1{
    font-size: 15px;
    color: rgb(128,150,148);
    font-family:'Comic Sans MS';
    font-weight: bolder;
    /* margin-right: 900px; */
}
.text{
    margin-top: 10px;
text-align: left;
    font-size: 18px;
    color: rgb(15,141,189);
    font-family:'Comic Sans MS';
    font-weight: bolder;
    width: 120%;
}
.center1{
    height:30px;
    width:30%;
   margin-left: 200px;
   margin-top: 50px;
   border-radius: 5px;

}
.center {
    display: block;
    margin-left: 30%;
    margin-right: auto;
    height:200%;
    width:40%;
}
.container{
    background-color: white;
    border-width: 100px;
    height: 100px;
}
.content{
    align-items: center;
    margin-top: 200px;
    margin-left: 400px;
    font-size: xx-large;
    color:rgb(15,141,189); 
    font-family:'Comic Sans MS';
    
}
.container2{
    margin-top: 500px;
    color:white;
    width: 100%;
    height: 150px;
  
}
.l{
    text-align: center;
    color:rgb(15,141,189);
    font-family: 'Comic Sans MS';
    margin-top: 2%;

}
@media (min-width: 1000px) {
    .responsive-font{
      font-size: 40px;
      text-align: center;
      font-family: 'Comic Sans MS';
      color:rgb(15,141,189); 
      margin-top: 2%;
    }
  }
 
  @media (max-width: 1199.98px) {
    .responsive-font {
      font-size: 30px;
      text-align: center;
      font-family: 'Comic Sans MS';
      color:rgb(15,141,189); 
      margin-top: 2%;
    }
  }
  .c4{
    border-style:solid;
    border-color: white;
    background-color:white;
    border-width: 40%;
    box-shadow: outset;
    border-width:- 100px;
    border-right-width: 20px;
    width: fit-content;
    font-size: 15px;
}
.form-control{
    text-align: center;

}
.form-group{
    border-radius:20px;
    width: 40%;
    align-items:center;
    margin-left: 30%;
    color: blue;
   
}  
.a1{
    margin-bottom: 10%;
}
.text2{
    width: 200%;
    font-size: 15px;
    text-align: left;
 
}
.text4{
    text-align:left;
    margin-top: 150px;
}
.c5{
    background-color: rgb(229, 239, 241);
    width: 70%;
}

.wide-75{
    width: 75%;
}

.wide-25{
    width: 25%;
}

.white-color{
    background-color: white;
}

@media screen and (max-width:884px){
    #big-screen{
        display: none;
    }
}

@media screen and (min-width:885px){
    #small-screen{
        display: none;
    }
}
.color-1{
    font-size: 18px;
    color: rgb(15,141,189);
    font-family:'Comic Sans MS';
    font-weight: bolder;

}
.ul{
    list-style-type: disc;
}
.text-center{
    text-align: center;
}

.texta{
    color: rgb(128,150,148);
    font-weight:bold;
    font-size: 15px;
    font-family:'Comic Sans MS';
}
